body, h1, a, ul {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(82, 143, 180);
}

h2, aside {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(82, 143, 180);
}

h1 {
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.4em;
}

h2 {
    font-size: 22px;
    text-align: center;
    font-weight: 200;
}

#rc {
	padding: 0px 50px 20px 50px;
	margin: 0 auto 0 auto;
}

ul:hover {
    color: rgb(82, 143, 180);
}

a ul {
    font-weight: bold;
}

ul:hover {
    color: #cccccc;
}

hr {
    border: 0px;
}

#root, p {
    text-align: left;
    line-height: 1.7;
    font-size: 19px;
    text-align: justify;
}

aside {
    position: relative;
    float: right;
    font-size: 19px;
}

@media only screen and (max-width: 600px) {
    aside {
        display: none;
    }
}

ul {
    list-style-position: inside;
    padding: 20px;
    border: 2px dotted #444444;
}

#picture {
    padding-top: 150px;
}