body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #353535;
}

body, h1, a {
    color: #8AD1FD;
    text-decoration: none;
    font-family: monospace;
	font-size: 24px;
}

a:hover {
    color: #cccccc;
}

#container {
    background: #333333;
    margin: auto;
    padding: 240px 20px 0 20px;
    text-align: center;
    max-width: 600px;
    height: 100%;
}

#rc {
    background: #333333;
    text-align: center;
	padding: 150px 50px 20px 50px;
	margin: 0 auto 0 auto;
    max-width: 600px;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    #container{
        padding: 40px;
    }
}

h1, a {
    color: #8AD1FD;
    text-decoration: none;
}

a {
    font-size:24px;
}

#links {
    margin-top: 30px;
}


h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

hr {
    border: 0px;
}

#root {
    text-align: left;
}

aside {
    position: relative;
    float: right;
}

@media only screen and (max-width: 600px) {
    aside {
        display: none;
    }
}

ul {
    list-style-position: inside;
    padding: 0px;
}