body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #353535;
}

body, h1, a {
    color: #8AD1FD;
    font-family: monospace;
}

a:hover {
    color: #cccccc;
}

section {
    background: #333333;
    margin: auto;
    text-align: center;
    max-width: 600px;
    height: 100%;
}


#container {
    padding: 240px 20px 0 20px;
}

#rc {
	padding: 150px 50px 20px 50px;
	margin: 0 auto 0 auto;
}

@media only screen and (max-width: 600px) {
    #container{
        padding: 40px;
    }
}

a {
    font-size: 21px;
    text-decoration: none;
}

ul a {
    font-weight: bold;
}

#links {
    margin-top: 30px;
}

a:hover {
    text-decoration: underline;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 20px;
}

hr {
    border: 0px;
}

#root {
    text-align: left;
}

aside {
    position: relative;
    float: right;
    font-size: 19px;
    color: rgb(82, 143, 180);
}

@media only screen and (max-width: 600px) {
    aside {
        display: none;
    }
}

ul {
    list-style-position: inside;
    padding: 20px;
    border: 2px dotted black;
}